    body {
        background-color: rgb(209, 204, 197);
        text-align: center;
    
    
    }
    button {
        background-color: chartreuse;
        color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 10px;
    }
    
    button:hover {
        background-color: rgb(174, 255, 94);
        cursor: pointer;
    }
    
    .quadro {
        border: solid 5px;
        border-color: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        width: 350px;
        margin: auto;
        padding: 15px;
        border-radius: 10px;
 }

     